{% extends 'base.html' %}

{% block content %}
<!-- ==================== Heading Section ==================== -->
<h3 class="center"><span class="heading">Amit Dave</span></h3>
<div class="center">
    <span>
        <i class="fas fa-phone fa-lg"></i> <span class="blue-text">+91 90229 58291</span>
        <i class="fas fa-envelope fa-lg"></i> <a href="https://mail.google.com" target="_blank">
            amitdave1998@gmail.com</a>
        <i class="fab fa-github fa-lg"></i> <a href="https://github.com/AL3X-dot" target="_blank">Github</a>
        <i class="fab fa-linkedin fa-lg"></i> <a href="https://www.linkedin.com/in/amit-dave-070037194/"
            target="_blank">Linkedin</a>

    </span>
</div>



<!-- ==================== Education Section ==================== -->
<h6> <b>Education</b> </h6>
<hr>
<div>
    <span><b>KJ Somaiya College of Engineering</b></span>
    <span class="right"><strong>Aug 2016 - Oct 2020</strong></span>
</div>
<div>
    <span>Batchelor of Technology in computer Engineering, <strong>CGPA: </strong>7.5/10</span>
    <span class="right">Mumbai, India</span>
</div>
<br>
<div>
    <span><b>TP Bhatia Junior college of Science</b></span>
    <span class="right"><strong>Mar 2014 - Mar 2016</strong></span>
</div>
<div>
    <span>Higher Secondary Certificate, <strong>Percentage: </strong>80%</span>
    <span class="right">Mumbai, India</span>
</div>
<br>
<div>
    <span><b>Poorna Prajna High School</b></span>
    <span class="right"><strong>Mar 2014</strong></span>
</div>
<div>
    <span>Secondary school Certificate, <strong>Percentage: </strong>93%</span>
    <span class="right">Mumbai, India</span>
</div>



<!-- ==================== Work Section ==================== -->
<h6><b>Work Experience</b></h6>
<hr>
<div>
    <span><b>Accenture</b></span>
    <span class="right"><strong>Nov 2020 - Current</strong></span>
</div>
<div>
    <span><strong>Full Stack Engineering Analyst</strong></span>
    <span class="right">Mumbai, India</span>
</div>
<div>
    <span>
        Completed training and assesment program for developing skills such as Java full stack ,C# and Angular JS.
    </span>
</div>
<div>
    <span>
        Communicated directly with clients to understand business intelligence requirements and created
        <br>end to end solutions usnig those requirements.
    </span>
</div>
<div>
    <span>
        Followed change management process to resolve application defects or implement enhancements.
    </span>
</div>
<div>
    <span>
        Collaborated closely with multiple teams across different countries to troubleshoot and debug
        <br>data issues and provide quick assistance to meet SLA's.
    </span>
</div>
<div>
    <span>
        Effectively performed root cause analysis of issues and reported the outcome to leads.
    </span>
</div>
<div>
    <span>
        Worked on agile development methodology - SCRUM to deliver quality work within every 15 days
        <br>as a scrum developer.
    </span>
</div>
<div>
    <span>
        Familiar with PgSql and MySql database management.
    </span>
</div>



<!-- ==================== Skills ==================== -->
<h6><b>Technical Skills</b></h6>
<hr>
<div class="row" style="margin-left: -10px;">
    <div class="col">
        <span><b>Languages: </b></span>
    </div>
    <div class="col">
        <span>
            Python, Java, Javascript, SQL.
        </span>
    </div>
</div>
<div class="row" style="margin-left: -10px;">
    <div class="col">
        <span><b>Web Technologies: </b></span>
    </div>
    <div class="col">
        <span>
            HTML5, CSS, Bootstrap.
        </span>
    </div>
</div>
<div class="row" style="margin-left: -10px;">
    <div class="col">
        <span><b>Frameworks: </b></span>
    </div>
    <div class="col">
        <span>
            Spring, Hibernate, JDBC, Pytorch, React JS, Vue Js, Node Js, Django, Flask.
        </span>
    </div>
</div>



<!-- ==================== Projects ==================== -->
<h6><b>Projects</b></h6>
<hr>
<!-- 1 -->
<div>
    <span><b>Travel based recommendation system</b></span>
    <span class="right">SVM, Flask, Ski-kitlearn, Python, HTML/CSS</span>
</div>
<div>
    <span>Worked with a team of two to create personalized travel based recommender.</span>
</div>
<div>
    <span>Web scraping twitter and searching for travel related tweets using NLP and sentiment
        <br>analysis to determine type.
    </span>
</div>
<div>
    <span>Recommending users places to visit with collaborative filtering.</span>
</div>
<!-- 2 -->
<div>
    <span><b>Pollitout</b></span>
    <span class="right">Vue JS, HTML/CSS, Socket.io, Netlify</span>
</div>
<div>
    <span>Web app for simulating realtime voting.</span>
</div>
<div>
    <span>User can create a room and provide options for voting.</span>
</div>
<div>
    <span>User can join a specific room and vote for any option.</span>
</div>
<!-- 3 -->
<div>
    <span><b>Instagram clone</b></span>
    <span class="right">React, JSX, HTML/CSS, Firebase</span>
</div>
<div>
    <span>Tried to create some instagram features as part of learingn React JS.</span>
</div>
<div>
    <span>Added functionalities to login, add posts, view and comment on posts.</span>
</div>
<div>
    <span>Used firebase to host the project for free.</span>
</div>



<!-- ==================== Certificates ==================== -->
<h6><b>Certificates</b></h6>
<hr>
<div>
    <a href="#">Accenture Technology Analyst School</a>
</div>
<div>
    <a href="#">Greenfield Training Program</a>
</div>
<div>
    <a href="https://www.hackerrank.com/certificates/0912012ac83f" target="_blank">Java Basic ( HackerRank )</a>
</div>
<div>
    <a href="https://www.hackerrank.com/certificates/8de635117737">Problem Solving Basic ( HackerRank )</a>
</div>



<!-- ==================== Interests ==================== -->
<h6><b>Interests</b></h6>
<hr>
<div>
    <i class="fas fa-music "><span style="margin-left: 10px;">Music</span></i>
    <i class="fas fa-volleyball-ball "><span style="margin-left: 10px;">E-Sports</span></i>
    <i class="fas fa-running "><span style="margin-left: 10px;">Trekking</span></i>
    <i class="fas fa-biking "><span style="margin-left: 10px;">Cycling</span></i>
</div>
<div>
</div>
{% endblock content %}